/* You can add global styles to this file, and also import other style files */
/* styles.css */
body {
  padding: 20px;
  background-color: #f8f9fa;
}

h2 {
  color: #343a40;
}

h3 {
  color: #6c757d;
}
